/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    background-color: #141013;
    font-family: 'Roboto', sans-serif;
    color: #7A7C80;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.border {
    padding: 30px; 
    box-shadow: inset #141013 0 0 0 4px,
                inset pink 0 0 0 8px,
                inset #E2AAB4 0 0 0 4px,
                inset #C4949D 0 0 0 14px,
                inset #A77E86 0 0 0 15px,
                inset #8A686F 0 0 0 20px,
                inset #6C5258 0 0 0 21px,
                inset #4F3C41 0 0 0 26px,
                inset #31262A 0 0 0 27px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    max-width: 1200px;
    margin: 3% auto; 
}

h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: #fff;
}

a{
    color: #7A7C80;
    text-decoration: none;
}

p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
}

.section1 img {
    width: 10em;
    height: auto;
    max-width: 100%;
    align-self: center; 
}

.section1 .social-links {
    display: flex; 
    justify-content: center; 
}

.section2 {
    flex: 1;
    padding: 20px;
}

.section1 a{
    font-size: 1.5rem;
    padding: 10px;
}

.section2 a {
    padding: 5px;
    width: 100px;
}

.caption {
    font-size: 0.7rem;
}

/* animations / utilities */
a:hover{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

ul.book {
    list-style: "📚   ";
    list-style-position: outside;
    padding-left: 20px;
}

ul.paper {
    list-style: "⚡   ";
    list-style-position: outside;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .section1,
    .section2 {
        flex: 1 100%;
        padding: 10px;
    }
}